

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
}
main{
    text-align: center;
    margin: 0 0;
    padding: 0 0;
}
h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px 0 ;
}

.p1{
    text-align: center;
    font-size: 1.2em;
    margin: 0 0;
    color: black;
   
}
.card1{
    margin: 5px 10px;
    display: inline-block;
    text-align: center;
    width: 300px;
    padding: 25px 0;
    height: 300px;
    border:1px solid black;
    border-radius: 15px ;
}
img{
    padding: 20px;
    margin-top: 30px 0;
    width: 120px;
    height:120px;
}

h3{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
    padding:10px;
    margin:0;
}
.read{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: black;
}
button{
    margin: 20px 0;
    background: #7235B7;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    width: 150px;
    border: 0px;
    padding: 10px;
    border-radius: 5px;
}
@media only screen and (min-width: 768px) {
    
}